/* font-family: 'Quicksand', sans-serif; */

* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 1200px;
}

/*header*/

.header {
    width: 100%;
    height: 100vh;
}

.logo {
    font-size: 50px;
    margin: 10px 0 5px 10px;

}

.logo a {
    text-decoration: none;
    color: rgb(155, 141, 141);
    border: 1px solid rgb(167, 142, 142);
    border-radius: 50%;
    padding: 5px;
}

.menuburger {
    width: 100%;
    background: #ffffff;
    height: 10px;
    line-height: 60px;
    border-bottom: 1px solid #dddddd;
}

.hamburger {
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 45px;
    padding: 5px 15px 0px 15px;
    color: #999;
    border: 0;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
}


.cross {
    background: none;
    position: absolute;
    top: 0px;
    right: 0;
    padding: 7px 15px 0px 15px;
    color: #999;
    border: 0;
    font-size: 40px;
    line-height: 65px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
}

.menu {
    z-index: 1000000;
    font-weight: bold;
    font-size: 0.8em;
    width: 100%;
    background: white;
    position: absolute;
    text-align: center;
    font-size: 12px;

}

.menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;

}

.menu li {
    display: block;
    padding: 15px 0 15px 0;
    border-bottom: #dddddd 1px solid;
}

.menu li:hover {
    display: block;
    background: #ffffff;
    padding: 15px 0 15px 0;
    border-bottom: #dddddd 1px solid;
}

.menu ul li a {
    text-decoration: none;
    margin: 0px;
    color: black;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    s
}

.menu ul li a:hover {
    color: #666;
    text-decoration: none;
}

.menu a {
    text-decoration: none;
    color: #666;
}

.menu a:hover {
    text-decoration: none;
    color: #666;
}

.glyphicon-home {
    color: white;
    font-size: 1.5em;
    margin-top: 5px;
    margin: 0 auto;
}




.bgcheader {
    background-image: url(img/header.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 80vh;
    width: 100%;
    background-position: 80% 10%;

}

.tlo {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.h2class {
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    padding-top: 30%;



}



.h1class {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding-top: 10%;
    font-size: 50px;
}

.btn {
    text-align: center;
    display: block;
    margin: 30% auto;
    background-color: transparent;
    border: solid 2px white;
    padding: 10px 30px;
    border-radius: 1.8rem;
    transition: .3s;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
}

.btna {
    text-decoration: none;
    color: white;
    transition: .3s;
    display: block;
    text-transform: uppercase;
}

.btna:hover {
    color: black;
}

.arrow {
    font-size: 60px;
    color: white;
}

.arrow .fa-angle-double-down {
    margin-left: calc(50% - 15px);
    animation: arrow 1.5s infinite;
    cursor: pointer;
}

@keyframes arrow {
    0% {
        transform: translate(0, 5px);
    }

    50% {
        transform: translate(0, -5px);
    }

    100% {
        transform: translate(0, 5px);
    }
}

/*numbers*/

.numbers {
    width: 100%;
    height: 120vh;
    margin-top: 120px;
}

.numbersdiv {
    margin: 0 auto;
}

.number {
    margin-top: 50px;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
}

.number img {
    height: 200px;
    margin-left: 21%;
    margin-bottom: 20px;
    animation: jello-horizontal 3s both infinite;
    animation-delay: 3s;

}


.aboutp {
    text-align: center;
    margin-top: 10px;
    font-family: 'Quicksand', sans-serif;
    display: block;

}

.number .aboutp {
    text-align: center;
    margin-top: 10px;
    font-family: 'Quicksand', sans-serif;
    display: block;
}


@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    20% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }


    40% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }


    45% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    50% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    60% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    68% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    70% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    80% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    90% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    95% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

/*team*/

.team {
    height: 100%;
    width: 100%;
    margin-top: 200px;

}

.headteam {
    background-image: url(img/outteam.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 30% 50%;
    height: 200px;
    width: 100%;
}

.desc .h2class {
    position: absolute;
    padding-top: 0;
    left: 32%;
    top: 20%;
}

.desc .h1class {
    padding-top: 30px;
    position: absolute;
    left: 12%;
    top: 30%;

}

.desc {
    width: 90%;
    height: 90%;
    position: relative;
    border: 2px solid white;
    margin-left: 20px;
    top: 10px;


}

.person {
    width: 90%;
    height: 400px;
    margin: 70px auto;
    border: 2px solid black;


}

.h3class {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 30px;
}

.h4class {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    opacity: .7;
}

.person .aboutp {
    line-height: 25px;
    margin-bottom: 30px;
    opacity: .7;
    display: block;
}

.person hr {
    width: 100px;
    text-align: center;
    display: block;
    margin-left: 35%;
    margin-top: 10px;
    color: orangered;
}

.person img {
    width: 80%;
    margin-left: 10%;
    height: 200px;
    border: 1px solid black;
    -webkit-box-shadow: 0px 7px 9px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 7px 9px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 7px 9px 3px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

/*portfolio*/

.portfolio {
    height: 100vh;
    width: 100%;

}

.headportfolio {
    background-image: url(img/portfolio.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 30% 50%;
    height: 200px;
    width: 100%;

}

.portfolio .h2class {
    position: absolute;
    padding-top: 0;
    left: 25%;
    top: 30%;
    font-size: 20px;
}


.portfolio .h1class {
    padding-top: 30px;
    position: absolute;
    left: 10%;
    top: 30%;

}

.wrapphotos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-between;
    margin: 10px 0;
    flex: 0 1 20%;
}



.wrap img {
    width: 100px;
    height: 150px;
    max-width: 100%;
    margin: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border: .5px rgb(196, 192, 192) solid;
    -webkit-box-shadow: inset 0px 2px 16px 0px rgba(126, 126, 126, 0.75);
    -moz-box-shadow: inset 0px 2px 16px 0px rgba(153, 149, 149, 0.75);
    box-shadow: inset 0px 2px 16px 0px rgba(88, 88, 88, 0.75);
}

.wrap img:hover {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

/*contact*/

.contact {
    height: 70vh;
    width: 100%;
    margin-top: 5%;

}

.headcontact {

    background-image: url(img/foto10.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 30% 50%;
    height: 200px;
    width: 100%;
}

.contact .h2class {
    position: absolute;
    padding-top: 0;
    left: 35%;
    top: 30%;
    font-size: 20px;
}


.contact .h1class {
    padding-top: 30px;
    position: absolute;
    left: 15%;
    top: 30%;

}

.contactbtn {
    color: black;
    background-color: white;
    text-align: center;
    display: block;
    margin: 10% auto;
    background-color: transparent;
    border: rgb(243, 215, 215) solid 2px;
    padding: 10px 30px;
    border-radius: 1.8rem;
    transition: .3s;
    cursor: pointer;
    text-transform: uppercase;
}

.contactbtn:hover {
    background-color: rgb(243, 215, 215);
    color: white;

}

.input {
    width: 100%;
    margin: 2% auto;
    padding: 8px;
    font-family: 'Quicksand', sans-serif;
    border-radius: 5%;
    border: rgb(243, 215, 215) solid 1px;
}

.emailinput {
    width: 100%;
    margin: 2% auto;
    padding: 8px;
    font-family: 'Quicksand', sans-serif;
    border-radius: 5%;
    border: rgb(243, 215, 215) solid 1px;
}

.area {
    width: 100%;
    margin: 2% auto;
    padding: 8px;
    font-family: 'Quicksand', sans-serif;
    border-radius: 5%;
    border: rgb(243, 215, 215) solid 1px;
}

form {
    margin: 10% 15%;
    font-size: 12px;

}

/*footer*/

footer {
    height: 10vh;
    margin-top: 45%;
    font-size: 14px;
    background-color: rgb(243, 215, 215);
    padding-top: 2%;
}

body {
    scroll-behavior: smooth;
}

/*strzałki*/

.arrows {
    font-size: 20px;
    position: fixed;
    top: 90%;
    height: 50px;
    width: 50px;
    right: 2%;
    color: rgb(134, 71, 71);
    border: 1px solid rgb(134, 71, 71);
    border-radius: 50%;
    padding: 3px 15px 0 10px;

}

.headerj {
    color: rgb(134, 71, 71);
    text-decoration: none;
    font-size: 60px;
    display: block;
    text-align: center;
    line-height: 60px;
}

.arrowh {
    color: white;
}



@media (orientation: portrait) and (min-width: 768px) {

    .numbers {
        width: 100%;
        height: 50vh;
        margin-top: 0px;
    }

    .numbersdiv {
        margin: -200px auto;
    }

    .number {
        margin-top: 10px;
        position: relative;
        top: 0%;
        left: 15%;
        right: 0%;
        bottom: 0%;
    }


    .number img {
        height: 200px;
        margin-left: 21%;
        margin-bottom: 20px;
        animation: jello-horizontal 3s both infinite;
        animation-delay: 3s;

    }


    .aboutp {
        text-align: center;
        margin-top: 50px;
        font-family: 'Quicksand', sans-serif;
        display: none;
    }

    .number .aboutp {
        text-align: center;
        margin-top: 10px;
        font-family: 'Quicksand', sans-serif;
        display: none;
    }

    .bgcheader {
        height: 69vh;
    }

    .btn {
        margin: 10% auto 5%;
    }


    /*team*/


    .desc .h2class {
        left: 45%;
    }

    .desc .h1class {
        left: 35%;
    }

    .person {
        height: 500px;
    }

    .person hr {
        margin-left: 43%;
    }

    .person img {
        width: 60%;
        margin-left: 20%;
    }

    /*portfolio*/


    .portfolio .h2class {
        left: 40%;
    }


    .portfolio .h1class {
        left: 32%;
    }

    .wrap img {
        width: 200px;
    }

    .contact {
        height: 50vh;
        width: 100%;
        margin-top: -300px;

    }

    .contact .h2class {
        left: 45%;
    }


    .contact .h1class {
        left: 35%;
    }



    /*footer*/

    footer {
        height: 10vh;
        width: auto;
        margin-top: 35%;
        font-size: 14px;
        background-color: rgb(243, 215, 215);
        padding-top: 2%;
    }

    body {
        scroll-behavior: smooth;
    }

    /*strzałki*/

    .arrows {
        font-size: 20px;
        position: fixed;
        top: 90%;
        height: 50px;
        width: 50px;
        right: 2%;
        color: rgb(134, 71, 71);
        border: 1px solid rgb(134, 71, 71);
        border-radius: 50%;
        padding: 3px 15px 0 10px;

    }

    .headerj {
        color: rgb(134, 71, 71);
        text-decoration: none;
        font-size: 60px;
        display: block;
        text-align: center;
        line-height: 60px;
    }

    .arrowh {
        color: white;
    }


}



@media (orientation: landscape) and (min-width: 1300px) {
    /*header*/

    .logo {
        margin: 20px 20px 5px 10px;
    }

    .hamburger {
        top: 1%;
        right: 12%;
        font-size: 60px;

    }

    .menuburger {
        height: 30px;
    }


    .bgcheader {
        background-position: 50% 40%;

    }

    .h2class {
        font-size: 50px;
        padding-top: 18%;
    }



    .h1class {
        padding-top: 5%;
        font-size: 40px;
    }

    .btn {
        margin: 10% auto;
    }

    .arrow {
        font-size: 50px;
    }

    /*numbers*/

    .numbers {
        height: 40vh;
        position: relative;
        margin-top: -10px;
    }


    .number img {
        height: 150px;
        margin-left: 20%;
        margin-bottom: 20px;

    }

    .number {
        margin-top: 50px;
        position: absolute;
        width: 100%;
    }

    .num1 {
        position: absolute;
        right: 84%;
        width: 30px;

    }

    .num2 {
        width: 30px;
        top: auto;
        right: 25%;
        bottom: auto;
    }

    .num3 {
        top: auto;
        width: 30px;
        right: 55%;
        bottom: auto;
    }


    .number .aboutp {
        text-align: center;
        margin-top: 5px;
        margin-left: 33px;
        height: 10px;
        width: 100px;
        font-family: 'Quicksand', sans-serif;
        font-size: 17px;
        display: block;

    }

    /*team*/

    .desc .h2class {
        left: 45.5%;
    }

    .desc .h1class {
        left: 45%;
    }

    .desc {
        margin-left: 30px;
    }

    .person hr {
        margin-left: 41%;
    }

    .person {
        width: 45%;
    }



    .person img {
        width: 60%;
        margin-left: 20%;
    }



    /*portfolio*/



    .portfolio .h2class {
        left: 47%;
    }


    .portfolio .h1class {
        left: 45%;
    }


    .wrap img {
        width: 350px;
        margin: 0 -3%;
    }



    /*contact*/

    .contact {
        height: 100vh;
        margin-top: 3%;

    }


    .contact .h2class {
        left: 49%;
    }


    .contact .h1class {
        left: 45%;
    }

    /*footer*/

    footer {
        height: 10vh;
        margin-top: 15%;
        padding-top: 1%;
    }


    /*strzałki*/

    .arrows {
        top: 80%;
        right: 8%;
    }

    .cross {
        top: 3%;
        right: 6%;
        font-size: 60px;

    }
}



@media (orientation: landscape) and (min-width: 1600px) {
    .logo {
        margin: 20px 20px 5px 10px;
    }

    .hamburger {
        top: 1%;
        right: 18%;
        font-size: 60px;

    }

    .menuburger {
        height: 30px;
    }


    .bgcheader {
        background-position: 50% 40%;

    }

    .h2class {
        font-size: 50px;
        padding-top: 18%;
    }



    .h1class {
        padding-top: 5%;
        font-size: 40px;
    }

    .btn {
        margin: 10% auto;
    }

    .arrow {
        font-size: 50px;
    }

    /*numbers*/

    .numbers {
        height: 40vh;
        position: relative;
        margin-top: -10px;
    }


    .number img {
        height: 150px;
        margin-left: 20%;
        margin-bottom: 20px;

    }

    .number {
        margin-top: 50px;
        position: absolute;
        width: 100%;
    }

    .num1 {
        position: absolute;
        right: 84%;
        width: 30px;

    }

    .num2 {
        width: 30px;
        top: auto;
        right: 25%;
        bottom: auto;
    }

    .num3 {
        top: auto;
        width: 30px;
        right: 55%;
        bottom: auto;
    }


    .number .aboutp {
        text-align: center;
        margin-top: 5px;
        margin-left: 33px;
        height: 10px;
        width: 100px;
        font-family: 'Quicksand', sans-serif;
        font-size: 17px;
        display: block;
    }

    /*team*/

    .desc .h2class {
        left: 45.5%;
    }

    .desc .h1class {
        left: 45%;
    }

    .desc {
        margin-left: 30px;
    }

    .person hr {
        margin-left: 41%;
    }

    .person {
        width: 45%;
    }



    .person img {
        width: 60%;
        margin-left: 20%;
    }



    /*portfolio*/



    .portfolio .h2class {
        left: 47%;
    }


    .portfolio .h1class {
        left: 45%;
    }


    .wrap img {
        width: 310px;
        margin: 0 0 0 -14%;
    }



    /*contact*/

    .contact {
        height: 100vh;
        margin-top: 3%;

    }


    .contact .h2class {
        left: 49%;
    }


    .contact .h1class {
        left: 45%;
    }

    /*footer*/

    footer {
        height: 10vh;
        margin-top: 15%;
        padding-top: 1%;
    }


    /*strzałki*/

    .arrows {
        top: 80%;
        right: 8%;
    }

    .cross {
        top: 3%;
        right: 6%;
        font-size: 60px;

    }
}